extends ../index

block adminContent
  #articles
    .header
      h1 Edit Article
    
    .edit
      form(name='edit')
        label TopElement / Media
        unless article.mediaElement
          div.mediaChooser
            label(for='topelement')
              span
                span.glyphicon.glyphicon-cloud-upload
                br
                span Upload
            input#topelement(type='file' name='mediaUpload' placeholder='Mediendatei hochladen')
            label(for='choose')
              span
                span.glyphicon.glyphicon-folder-open
                br
                span Choose
            input#choose(type='button' name='choose' value='Choose...')
            .clearfix
        else
          div.mediaElement
            div.imageContainer
              img(src='/uploads/'+article.mediaElement.mediaFile.fileName)
              span.iconContainer
                a.glyphicon.glyphicon-refresh(href='')
                a.glyphicon.glyphicon-remove-circle(href='')
            div.inputContainer
              input(type='text' name='mediaName' value=article.mediaElement.name placeholder='Mediennamen eingeben')
              input(type='text' name='mediaCaption' value=article.mediaElement.caption placeholder='Medienbeschreibung eingeben')
            .clearfix
        label(for='title') Titel
        input#title(type='text' name='title' value=article.title placeholder='Titel eingeben')
        label(for='slug') Slug
        input(type='text' name='slug' value=article.slug placeholder='Slug eingeben')
        label(for='category') Kategorie
        select(name='category')
          each category in categories
            if article.category === category.name
                option(value=category.name.toLowerCase() selected)= category.name
            else
                option(value=category.name.toLowerCase())= category.name
        label(for='content') Artikeltext
        textarea(cols='50' rows='15' name='content' placeholder='Hier kommt der Artikeltext')= article.content
        input(type='submit' value='Save')
        a.button.cancel(href='../../') Cancel
        .clearfix