extends ../index

block adminContent
  #articles
    .header
        h1 Edit Article
    
    .edit
      form
        label(for='title') Titel
        input#title(type='text' name='title' value=article.title placeholder='Titel eingeben')
        label(for='slug') Slug
        input(type='text' name='slug' value=article.slug placeholder='Slug eingeben')
        label(for='category') Kategorie
        select(name='category')
          each category in categories
            if article.category === category.name
                option(value=category.name.toLowerCase() selected)= category.name
            else
                option(value=category.name.toLowerCase())= category.name
        label(for='content') Artikeltext
        textarea(cols='50' rows='15' name='content' placeholder='Hier kommt der Artikeltext')= article.content
        input(type='submit' value='Save')
        input(type='button' value='Cancel')
        .clearfix