mixin article(article, isFullArticle)
  article
    .image-container
      if isFullArticle
        if article.mediaElement
          img.img-responsive(src='/uploads/'+article.mediaElement.mediaFile.fileName)
      else
        a(href=article.category + '/' +article.slug)
          if article.mediaElement
            img.img-responsive(src='/uploads/'+article.mediaElement.mediaFile.fileName)
    .text-container
      .title-container
        h2= article.createdDate
        if isFullArticle
          h1= article.title
        else
          h1 
            a(href=article.category + '/' +article.slug)= article.title
        h3 Written By #{article.author} in 
          a(href=article.category)= article.category
      hr
      if isFullArticle
        p!= article.content
      else
        p!= article.content
        a.button(href=article.category + '/' +article.slug) Weiterlesen...